@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", san-serif;
  box-shadow: var(--box-shadow);
  background-color: var(--background);
}

.logo {
  color: #2688f8;
}

.link-wrapper {
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.navLink {
  padding: 1.25rem 1rem;
  color: var(--text-primary);
}

.navLink:hover {
  color: #2688f8;
}

.active {
  color: #2688f8;
}

.toggle--checkbox {
  display: none;
}

.toggle--label {
  margin-top: 1.15rem;
  width: 77px;
  height: 25px;
  background: var(--blue-color);
  border-radius: 50px;
  border: 5px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
}

.toggle--label:before {
  -webkit-animation-name: reverse;
          animation-name: reverse;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid var(--yellow-border);
  top: -2px;
  left: 0;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
  cursor: pointer;
}

@-webkit-keyframes reverse {
  0% {
    left: 40px;
    width: 30px;
  }
  60% {
    left: 20px;
    width: 30px;
  }
  100% {
    left: 0;
  }
}

@keyframes reverse {
  0% {
    left: 40px;
    width: 30px;
  }
  60% {
    left: 20px;
    width: 30px;
  }
  100% {
    left: 0;
  }
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue-background);
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in;
}

.toggle--label-background {
  width: 4px;
  height: 2px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 53px;
  top: 12px;
  transition: all 150ms ease-in;
}

.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -2.5px;
  width: 20px;
  height: 2.5px;
  border-radius: 5px;
  background: var(--white);
  left: -10px;
  transition: all 150ms ease-in;
}

.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 2.5px;
  width: 20px;
  height: 2.5px;
  border-radius: 5px;
  background: var(--white);
  left: -5px;
  transition: all 150ms ease-in;
}

.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
}

.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  -webkit-animation-name: switch;
          animation-name: switch;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  left: 69px;
  top: 8px;
  width: 2px;
  height: 2px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 30px;
  width: 2.5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 2.5px;
  height: 2.5px;
  top: -12.5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 2.5px;
  height: 2.5px;
  left: -15px;
  top: 10px;
}

@-webkit-keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 30px;
  }
  100% {
    left: 46px;
    width: 20px;
  }
}

@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 30px;
  }
  100% {
    left: 46px;
    width: 20px;
  }
}
@media (max-width: 820px) {
  .navbar {
    font-size: 0.8rem;
  }

  .link-wrapper {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    z-index: 1;
  }

  .logo-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 8rem;
  }

  .menu {
    color: var(--text-primary);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .menu:hover {
    color: var(--text-secondary);
  }

  .link-wrapper {
    height: 100vh;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.25rem;
  }

  .dark-mode {
    display: flex;
    margin-left: 1rem;
    color: var(--text-primary);
    gap: 2rem;
  }
}
@media (max-width: 300px) {
  .logo-wrapper {
    font-size: 1rem;
    gap: 0;
  }
}/*# sourceMappingURL=Nav.css.map */