:root {
  --background: white;
  --background--secondary: #f1f5f9;
  --text-primary: black;
  --text-secondary: rgb(54, 53, 53);
  --accent: purple;
  --box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
  --card-box-shadow: rgba(74, 74, 75, 0.25) 0 3px 3px 0;
  --newsSection-color: rgb(38, 136, 248);
  --news-btn: white;
  --news-btn-hover: rgb(241, 241, 241);
  --news-btn-text: rgb(38, 136, 248);
  --border: rgb(230, 230, 230);
  --icon: rgba(0, 0, 0, 0.151);
}
[data-theme="dark"] {
  --background: #1a1919;
  --background--secondary: #222121;
  --text-primary: white;
  --text-secondary: rgb(168, 167, 167);
  --accent: darkred;
  --box-shadow: rgba(133, 130, 130, 0.315) 0px 0px 3px 0px;
  --card-box-shadow: rgba(179, 177, 177, 0.25) 0 3px 3px 0;
  --newsSection-color: #252525;
  --news-btn: rgb(38, 136, 248);
  --news-btn-hover: rgb(23, 127, 245);
  --news-btn-text: white;
  --border: #4d4b4f;
  --icon: rgba(240, 240, 240, 0.151);
}

div:not(:hover),
nav,
input:not(:hover) {
  transition: all 0.4s linear;
}
